In [1]:
import pandas as pd

In [2]:
dataPath = "./data/projection.json"

In [3]:
df = pd.read_json(dataPath)

In [4]:
df.head()

                timeStamp                                              spawn
0 2019-11-09 16:20:21.846  {'start': {'antecedenceTime': 1573316421846, '...
1 2019-11-09 16:21:21.846  {'start': {'antecedenceTime': 1573316421846, '...
2 2019-11-09 16:22:21.846  {'start': {'antecedenceTime': 1573316421846, '...
3 2019-11-09 16:23:21.846  {'start': {'antecedenceTime': 1573316421846, '...
4 2019-11-09 16:24:21.846  {'start': {'antecedenceTime': 1573316421846, '...

In [5]:
from pandas.io.json import json_normalize
import json

In [6]:
with open(dataPath) as dataJson:
    rawJsonData = json.load(dataJson)

In [7]:
len(rawJsonData)

13553

In [8]:
normalizedJson = json_normalize(rawJsonData)

In [9]:
normalizedJson.head()

,timeStamp,spawn.start.antecedenceTime,spawn.start.content.name,spawn.start.content.type,spawn.start.content.veryFirstActivity,spawn.start.content.uuid,spawn.stop.antecedenceTime,spawn.stop.content.name,spawn.stop.content.type,spawn.stop.content.timedType,...,spawn.start.content.timedType,spawn.start.content.workStartedWomboCombo,spawn.stop.content.paused,spawn.start.content.paused,spawn.stop.content.activityID,spawn.start.content.activityID,spawn.stop.content.duration,spawn.start.content.duration,spawn.stop.content.autoStart,spawn.start.content.autoStart
0,1573316421846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1573316481846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1573316541846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1573316601846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1573316661846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
normalizedJson['dateTime'] = pd.to_datetime(normalizedJson['timeStamp'], unit='ms')

In [11]:
normalizedJson['dayOfTheWeek'] = normalizedJson['dateTime'].dt.dayofweek

In [12]:
dateTimeSeries = normalizedJson['dateTime']

In [13]:
normalizedJson['hourOfTheDay'] = dateTimeSeries.dt.hour
normalizedJson['minuteOfTheHour'] = dateTimeSeries.dt.minute

In [14]:
normalizedJson.head()

,timeStamp,spawn.start.antecedenceTime,spawn.start.content.name,spawn.start.content.type,spawn.start.content.veryFirstActivity,spawn.start.content.uuid,spawn.stop.antecedenceTime,spawn.stop.content.name,spawn.stop.content.type,spawn.stop.content.timedType,...,spawn.stop.content.activityID,spawn.start.content.activityID,spawn.stop.content.duration,spawn.start.content.duration,spawn.stop.content.autoStart,spawn.start.content.autoStart,dateTime,dayOfTheWeek,hourOfTheDay,minuteOfTheHour
0,1573316421846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:20:21.846,5,16,20
1,1573316481846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:21:21.846,5,16,21
2,1573316541846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:22:21.846,5,16,22
3,1573316601846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:23:21.846,5,16,23
4,1573316661846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:24:21.846,5,16,24

In [15]:
len(normalizedJson)

13553

1929     0
1930     0
1931     0
1932     0
1933     0
        ..
13548    0
13549    0
13550    0
13551    0
13552    0
Name: dateTime, Length: 8700, dtype: int64

In [84]:
normalizedJson['isWeekDay'] = dateTimeSeries.dt.weekday < 5

In [85]:
normalizedJson.head()

,timeStamp,spawn.start.antecedenceTime,spawn.start.content.name,spawn.start.content.type,spawn.start.content.veryFirstActivity,spawn.start.content.uuid,spawn.stop.antecedenceTime,spawn.stop.content.name,spawn.stop.content.type,spawn.stop.content.timedType,...,spawn.start.content.activityID,spawn.stop.content.duration,spawn.start.content.duration,spawn.stop.content.autoStart,spawn.start.content.autoStart,dateTime,dayOfTheWeek,hourOfTheDay,minuteOfTheHour,isWeekDay
0,1573316421846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:20:21.846,5,16,20,False
1,1573316481846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:21:21.846,5,16,21,False
2,1573316541846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:22:21.846,5,16,22,False
3,1573316601846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:23:21.846,5,16,23,False
4,1573316661846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:24:21.846,5,16,24,False

In [86]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [87]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [132]:
categoricalVariables = []
continuousVariables = ['hourOfTheDay', 'minuteOfTheHour', 'dayOfTheWeek']

In [133]:
allCategories = [normalizedJson[column].unique().tolist() + ['missing_value'] for column in categoricalVariables]

In [134]:
allCategories

[]

In [135]:
continuousTransformer = SimpleImputer(strategy='constant')
categoricalTransformer = Pipeline(steps=[
#     ('impute', SimpleImputer(strategy='constant')),
    ('encode', OrdinalEncoder(categories=allCategories))
])

In [136]:
dataPreProcessor = ColumnTransformer(transformers=[
    ('continuous', continuousTransformer, continuousVariables),
    ('categorical', categoricalTransformer, categoricalVariables)
])

In [137]:
xDataset = normalizedJson[categoricalVariables + continuousVariables]

In [138]:
xDataset.head()

   hourOfTheDay  minuteOfTheHour  dayOfTheWeek
0            16               20             5
1            16               21             5
2            16               22             5
3            16               23             5
4            16               24             5

In [139]:
xDataset.describe()

       hourOfTheDay  minuteOfTheHour  dayOfTheWeek
count  13553.000000     13553.000000  13553.000000
mean      11.768981        29.495979      3.081606
std        6.957588        17.332343      2.248634
min        0.000000         0.000000      0.000000
25%        6.000000        14.000000      1.000000
50%       12.000000        29.000000      3.000000
75%       18.000000        45.000000      5.000000
max       23.000000        59.000000      6.000000

In [140]:
allYCategories = [normalizedJson[column].unique().tolist() + ['missing_value'] for column in ['spawn.start.content.name']]

In [141]:
allYCategories

[['RECOVERY',
  'GENERIC_ACTIVITY',
  'Construct Audio-Book',
  'Family Time',
  'Strategic Admin',
  'Meditation',
  'Overhead',
  'Coding',
  'Workout',
  'Tech Research',
  'Work',
  'ML',
  'Comp Sci',
  'Assist Others',
  'Emails',
  'missing_value']]

In [142]:
yEncoder = OrdinalEncoder(categories=allYCategories)

In [143]:
preY = normalizedJson['spawn.start.content.name']

In [144]:
yDataset = yEncoder.fit_transform(preY.to_numpy().reshape(-1, 1))

In [145]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(random_state=69, n_estimators=1000)

In [146]:
modelPipeline = Pipeline(steps=[
    ('preProcessor', dataPreProcessor),
    ('randoForestModel', model)
])

In [147]:
from sklearn.model_selection import cross_validate

In [148]:
learntStuff = cross_validate(modelPipeline,
                             xDataset,
                             yDataset,
                             cv=8,
                             return_estimator=True,
                                n_jobs=-1,
                             scoring='accuracy')

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=8.
  % (min_groups, self.n_splits)), Warning)

In [149]:
from sklearn.model_selection import cross_val_score

In [150]:
learntModel = learntStuff['estimator'][0]

In [151]:
losses = 1 * cross_val_score(learntModel,
                             xDataset,
                             yDataset,
                             cv=8,
                             n_jobs=-1,
                             scoring='accuracy')

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=8.
  % (min_groups, self.n_splits)), Warning)

In [152]:
losses

array([0.63176471, 0.56588235, 0.5486152 , 0.69970501, 0.51475797,
       0.39325843, 0.66094675, 0.55575326])

In [153]:
xProccessed = dataPreProcessor.fit_transform(xDataset)

In [154]:
featureImportance = map(lambda esty: esty.steps[1][1].fit(xProccessed, yDataset).feature_importances_, learntStuff['estimator'])

In [155]:
featureImportance = list(zip(*featureImportance))

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.
/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.
/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.
/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.
/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.
/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.
/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.
/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

In [156]:
from functools import reduce

def takeMean(importances):
    return reduce(lambda accum, i: accum + i, importances) / len(importances)
meanFeatureImportance = list(map(takeMean, featureImportance))
meanFeatureImportance

[0.6956260339305282, 0.12543059848020358, 0.17894336758926827]

In [157]:
featureAndLabel = list(zip(meanFeatureImportance, xDataset.columns))
featureAndLabel

[(0.6956260339305282, 'hourOfTheDay'),
 (0.12543059848020358, 'minuteOfTheHour'),
 (0.17894336758926827, 'dayOfTheWeek')]

In [158]:
sorted(featureAndLabel, reverse=True)

[(0.6956260339305282, 'hourOfTheDay'),
 (0.17894336758926827, 'dayOfTheWeek'),
 (0.12543059848020358, 'minuteOfTheHour')]

In [159]:
losses = 1 * cross_val_score(learntModel,
                             xDataset,
                             yDataset,
                             cv=8,
                             n_jobs=-1,
                             scoring='accuracy')

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=8.
  % (min_groups, self.n_splits)), Warning)

In [160]:
losses

array([0.63176471, 0.56588235, 0.5486152 , 0.69970501, 0.51475797,
       0.39325843, 0.66094675, 0.55575326])

# Time Series Split

In [161]:
from sklearn.model_selection import TimeSeriesSplit

In [162]:
tsp = TimeSeriesSplit(n_splits=12)

In [163]:
for train, test, in tsp.split(xDataset, yDataset):
    modelPipeline.fit(xDataset.iloc[train], yDataset[train])
    pred = modelPipeline.predict(xDataset.iloc[test])
    loss = mean_squared_error(yDataset[test], pred)
    print(f'Test loss of {loss}')
    trainPred = modelPipeline.predict(xDataset.iloc[train])
    print(f'Train loss of {mean_squared_error(yDataset[train], trainPred)}')

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/pipeline.py:356: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params)

Test loss of 21.64587332053743
Train loss of 0.03145853193517636

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/pipeline.py:356: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params)

Test loss of 30.88003838771593
Train loss of 0.6398852223816356

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/pipeline.py:356: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params)

Test loss of 12.494241842610364
Train loss of 0.6463453558889244

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/pipeline.py:356: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params)

Test loss of 19.98080614203455
Train loss of 0.8404790419161676

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/pipeline.py:356: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params)

Test loss of 28.396353166986565
Train loss of 0.9066513321832471

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/pipeline.py:356: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params)

Test loss of 7.604606525911708
Train loss of 0.8197795174948075

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/pipeline.py:356: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params)

Test loss of 7.202495201535509
Train loss of 0.8433091357348308

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/pipeline.py:356: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params)

Test loss of 16.547984644913626
Train loss of 0.822605777298334

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/pipeline.py:356: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params)

Test loss of 13.601727447216891
Train loss of 0.8460309003729355

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/pipeline.py:356: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params)

Test loss of 3.283109404990403
Train loss of 1.120264697420159

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/pipeline.py:356: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params)

Test loss of 20.822456813819578
Train loss of 1.3235678786293488

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/pipeline.py:356: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params)

Test loss of 8.033589251439539
Train loss of 2.929901686515866

# Testing it out

In [164]:
xDataset.iloc[9001], preY.iloc[9001]

(hourOfTheDay       20
 minuteOfTheHour    20
 dayOfTheWeek        4
 Name: 9001, dtype: int64, 'Work')

In [165]:
pred = learntModel.predict(xDataset.iloc[[9001]])

In [166]:
yEncoder.inverse_transform(pred.reshape(1,-1))

array([['Work']], dtype=object)

In [171]:
testData = [[19.0, 30.0, 3.0, 0.0]]
testDF = pd.DataFrame(testData, columns=['hourOfTheDay', 'minuteOfTheHour', 'dayOfTheWeek', 'isWeekday'])

In [172]:
testDF

   hourOfTheDay  minuteOfTheHour  dayOfTheWeek  isWeekday
0          19.0             30.0           3.0        0.0

In [173]:
testPred = learntModel.predict(testDF)

In [174]:
yEncoder.inverse_transform(testPred.reshape(1,-1))

array([['Work']], dtype=object)