In [1]:
import pandas as pd

In [2]:
dataPath = "./data/projection.json"

In [3]:
df = pd.read_json(dataPath)

In [4]:
df.head()

                timeStamp                                              spawn
0 2019-11-09 16:20:21.846  {'start': {'antecedenceTime': 1573316421846, '...
1 2019-11-09 16:21:21.846  {'start': {'antecedenceTime': 1573316421846, '...
2 2019-11-09 16:22:21.846  {'start': {'antecedenceTime': 1573316421846, '...
3 2019-11-09 16:23:21.846  {'start': {'antecedenceTime': 1573316421846, '...
4 2019-11-09 16:24:21.846  {'start': {'antecedenceTime': 1573316421846, '...

In [5]:
from pandas.io.json import json_normalize
import json

In [6]:
with open(dataPath) as dataJson:
    rawJsonData = json.load(dataJson)

In [7]:
len(rawJsonData)

13553

In [8]:
normalizedJson = json_normalize(rawJsonData)

In [9]:
normalizedJson.head()

,timeStamp,spawn.start.antecedenceTime,spawn.start.content.name,spawn.start.content.type,spawn.start.content.veryFirstActivity,spawn.start.content.uuid,spawn.stop.antecedenceTime,spawn.stop.content.name,spawn.stop.content.type,spawn.stop.content.timedType,...,spawn.start.content.timedType,spawn.start.content.workStartedWomboCombo,spawn.stop.content.paused,spawn.start.content.paused,spawn.stop.content.activityID,spawn.start.content.activityID,spawn.stop.content.duration,spawn.start.content.duration,spawn.stop.content.autoStart,spawn.start.content.autoStart
0,1573316421846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1573316481846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1573316541846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1573316601846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1573316661846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
normalizedJson['dateTime'] = pd.to_datetime(normalizedJson['timeStamp'], unit='ms')

In [11]:
normalizedJson['dayOfTheWeek'] = normalizedJson['dateTime'].dt.dayofweek

In [12]:
dateTimeSeries = normalizedJson['dateTime']

In [13]:
normalizedJson['hourOfTheDay'] = dateTimeSeries.dt.hour
normalizedJson['minuteOfTheHour'] = dateTimeSeries.dt.minute

In [14]:
normalizedJson.head()

,timeStamp,spawn.start.antecedenceTime,spawn.start.content.name,spawn.start.content.type,spawn.start.content.veryFirstActivity,spawn.start.content.uuid,spawn.stop.antecedenceTime,spawn.stop.content.name,spawn.stop.content.type,spawn.stop.content.timedType,...,spawn.stop.content.activityID,spawn.start.content.activityID,spawn.stop.content.duration,spawn.start.content.duration,spawn.stop.content.autoStart,spawn.start.content.autoStart,dateTime,dayOfTheWeek,hourOfTheDay,minuteOfTheHour
0,1573316421846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:20:21.846,5,16,20
1,1573316481846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:21:21.846,5,16,21
2,1573316541846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:22:21.846,5,16,22
3,1573316601846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:23:21.846,5,16,23
4,1573316661846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:24:21.846,5,16,24

In [15]:
len(normalizedJson)

13553

In [16]:
normalizedJson['isWeekDay'] = ((pd.DatetimeIndex(normalizedJson.index).dayofweek) // 5 == 1).astype(float)

In [17]:
normalizedJson.head()

,timeStamp,spawn.start.antecedenceTime,spawn.start.content.name,spawn.start.content.type,spawn.start.content.veryFirstActivity,spawn.start.content.uuid,spawn.stop.antecedenceTime,spawn.stop.content.name,spawn.stop.content.type,spawn.stop.content.timedType,...,spawn.start.content.activityID,spawn.stop.content.duration,spawn.start.content.duration,spawn.stop.content.autoStart,spawn.start.content.autoStart,dateTime,dayOfTheWeek,hourOfTheDay,minuteOfTheHour,isWeekDay
0,1573316421846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:20:21.846,5,16,20,0.0
1,1573316481846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:21:21.846,5,16,21,0.0
2,1573316541846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:22:21.846,5,16,22,0.0
3,1573316601846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:23:21.846,5,16,23,0.0
4,1573316661846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:24:21.846,5,16,24,0.0

In [18]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [19]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [20]:
categoricalVariables = []
continuousVariables = ['hourOfTheDay', 'minuteOfTheHour', 'dayOfTheWeek', 'isWeekDay']

In [21]:
allCategories = [normalizedJson[column].unique().tolist() + ['missing_value'] for column in categoricalVariables]

In [22]:
allCategories

[]

In [23]:
continuousTransformer = SimpleImputer(strategy='constant')
categoricalTransformer = Pipeline(steps=[
    ('impute', SimpleImputer(strategy='constant')),
    ('encode', OrdinalEncoder(categories=allCategories))
])

In [24]:
dataPreProcessor = ColumnTransformer(transformers=[
    ('continuous', continuousTransformer, continuousVariables),
    ('categorical', categoricalTransformer, categoricalVariables)
])

In [25]:
xDataset = normalizedJson[categoricalVariables + continuousVariables]

In [26]:
xDataset.head()

   hourOfTheDay  minuteOfTheHour  dayOfTheWeek  isWeekDay
0            16               20             5        0.0
1            16               21             5        0.0
2            16               22             5        0.0
3            16               23             5        0.0
4            16               24             5        0.0

In [27]:
allYCategories = [normalizedJson[column].unique().tolist() + ['missing_value'] for column in ['spawn.start.content.name']]

In [28]:
allYCategories

[['RECOVERY',
  'GENERIC_ACTIVITY',
  'Construct Audio-Book',
  'Family Time',
  'Strategic Admin',
  'Meditation',
  'Overhead',
  'Coding',
  'Workout',
  'Tech Research',
  'Work',
  'ML',
  'Comp Sci',
  'Assist Others',
  'Emails',
  'missing_value']]

In [29]:
yEncoder = OrdinalEncoder(categories=allYCategories)

In [30]:
preY = normalizedJson['spawn.start.content.name']

In [31]:
yDataset = yEncoder.fit_transform(preY.to_numpy().reshape(-1, 1))

In [62]:
from sklearn.naive_bayes import GaussianNB

In [63]:
model = GaussianNB()

In [64]:
modelPipeline = Pipeline(steps=[
    ('preProcessor', dataPreProcessor),
    ('randoForestModel', model)
])

In [65]:
from sklearn.model_selection import cross_validate

In [66]:
learntStuff = cross_validate(modelPipeline,
                             xDataset,
                             yDataset,
                             cv=8,
                             return_estimator=True,
                                n_jobs=-1,
                             scoring='accuracy')

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=8.
  % (min_groups, self.n_splits)), Warning)

In [68]:
from sklearn.model_selection import cross_val_score

In [74]:
learntModel = learntStuff['estimator'][0]

In [75]:
losses = 1 * cross_val_score(learntModel,
                             xDataset,
                             yDataset,
                             cv=8,
                             n_jobs=-1,
                             scoring='accuracy')

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=8.
  % (min_groups, self.n_splits)), Warning)

In [76]:
losses

array([0.61117647, 0.60058824, 0.60164997, 0.62477876, 0.66469894,
       0.56771141, 0.64674556, 0.56109134])

# Time Series Split

In [35]:
from sklearn.model_selection import TimeSeriesSplit

In [36]:
tsp = TimeSeriesSplit(n_splits=12)

In [37]:
for train, test, in tsp.split(xDataset, yDataset):
    modelPipeline.fit(xDataset.iloc[train], yDataset[train])
    pred = modelPipeline.predict(xDataset.iloc[test])
    loss = mean_squared_error(yDataset[test], pred)
    print(f'Test loss of {loss}')
    trainPred = modelPipeline.predict(xDataset.iloc[train])
    print(f'Train loss of {mean_squared_error(yDataset[train], trainPred)}')

Test loss of 24.047024952015356
Train loss of 1.907530981887512
Test loss of 23.58349328214971
Train loss of 13.227164036346245
Test loss of 17.85412667946257
Train loss of 12.285668688158315
Test loss of 47.72360844529751
Train loss of 16.843832335329342
Test loss of 40.02687140115163
Train loss of 14.989649223691776
Test loss of 33.44433781190019
Train loss of 16.308036427544337
Test loss of 18.738003838771593
Train loss of 18.486371729900014
Test loss of 42.12092130518234
Train loss of 17.469854968236845
Test loss of 11.351247600767755
Train loss of 19.861481086840705
Test loss of 3.285028790786948
Train loss of 19.02512707394265
Test loss of 21.232245681381958
Train loss of 17.237771383730056
Test loss of 16.750479846449135
Train loss of 18.14211493885381

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

# Testing it out

In [77]:
xDataset.iloc[9001], preY.iloc[9001]

(hourOfTheDay       20.0
 minuteOfTheHour    20.0
 dayOfTheWeek        4.0
 isWeekDay           0.0
 Name: 9001, dtype: float64, 'Work')

In [78]:
pred = learntModel.predict(xDataset.iloc[[9001]])

In [79]:
yEncoder.inverse_transform(pred.reshape(1,-1))

array([['Work']], dtype=object)

In [101]:
testData = [[8.0, 30.0, 4.0, 0.0]]
testDF = pd.DataFrame(testData, columns=['hourOfTheDay', 'minuteOfTheHour', 'dayOfTheWeek', 'isWeekday'])

In [102]:
testDF

   hourOfTheDay  minuteOfTheHour  dayOfTheWeek  isWeekday
0           8.0             30.0           4.0        0.0

In [103]:
testPred = learntModel.predict(testDF)

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/pandas/core/indexing.py:1418: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [104]:
yEncoder.inverse_transform(testPred.reshape(1,-1))

array([['RECOVERY']], dtype=object)