In [1]:
import pandas as pd

In [7]:
dataPath = "./data/projection.json"

In [8]:
df = pd.read_json(dataPath)

In [9]:
df.head()

                timeStamp                                              spawn
0 2019-11-09 16:20:21.846  {'start': {'antecedenceTime': 1573316421846, '...
1 2019-11-09 16:21:21.846  {'start': {'antecedenceTime': 1573316421846, '...
2 2019-11-09 16:22:21.846  {'start': {'antecedenceTime': 1573316421846, '...
3 2019-11-09 16:23:21.846  {'start': {'antecedenceTime': 1573316421846, '...
4 2019-11-09 16:24:21.846  {'start': {'antecedenceTime': 1573316421846, '...

In [10]:
from pandas.io.json import json_normalize
import json

In [11]:
with open(dataPath) as dataJson:
    rawJsonData = json.load(dataJson)

In [27]:
len(rawJsonData)

13553

In [14]:
normalizedJson = json_normalize(rawJsonData)

In [15]:
normalizedJson.head()

,timeStamp,spawn.start.antecedenceTime,spawn.start.content.name,spawn.start.content.type,spawn.start.content.veryFirstActivity,spawn.start.content.uuid,spawn.stop.antecedenceTime,spawn.stop.content.name,spawn.stop.content.type,spawn.stop.content.timedType,...,spawn.start.content.timedType,spawn.start.content.workStartedWomboCombo,spawn.stop.content.paused,spawn.start.content.paused,spawn.stop.content.activityID,spawn.start.content.activityID,spawn.stop.content.duration,spawn.start.content.duration,spawn.stop.content.autoStart,spawn.start.content.autoStart
0,1573316421846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1573316481846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1573316541846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1573316601846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1573316661846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
normalizedJson['dateTime'] = pd.to_datetime(normalizedJson['timeStamp'], unit='ms')

In [23]:
normalizedJson['dateTime']

0       2019-11-09 16:20:21.846
1       2019-11-09 16:21:21.846
2       2019-11-09 16:22:21.846
3       2019-11-09 16:23:21.846
4       2019-11-09 16:24:21.846
                  ...
13548   2019-11-18 23:08:01.545
13549   2019-11-18 23:09:01.545
13550   2019-11-18 23:10:01.545
13551   2019-11-18 23:11:01.545
13552   2019-11-18 23:12:01.545
Name: dateTime, Length: 13553, dtype: datetime64[ns]

In [30]:
normalizedJson['dayOfTheWeek'] = normalizedJson['dateTime'].dt.dayofweek

In [33]:
normalizedJson.head()

,timeStamp,spawn.start.antecedenceTime,spawn.start.content.name,spawn.start.content.type,spawn.start.content.veryFirstActivity,spawn.start.content.uuid,spawn.stop.antecedenceTime,spawn.stop.content.name,spawn.stop.content.type,spawn.stop.content.timedType,...,spawn.start.content.paused,spawn.stop.content.activityID,spawn.start.content.activityID,spawn.stop.content.duration,spawn.start.content.duration,spawn.stop.content.autoStart,spawn.start.content.autoStart,dateTime,dayOfTheWeek,isWeekDay
0,1573316421846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:20:21.846,5,0.0
1,1573316481846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:21:21.846,5,0.0
2,1573316541846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:22:21.846,5,0.0
3,1573316601846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:23:21.846,5,0.0
4,1573316661846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:24:21.846,5,0.0

In [26]:
len(normalizedJson)

13553

In [28]:
normalizedJson['isWeekDay'] = ((pd.DatetimeIndex(normalizedJson.index).dayofweek) // 5 == 1).astype(float)

In [39]:
normalizedJson.head()

,timeStamp,spawn.start.antecedenceTime,spawn.start.content.name,spawn.start.content.type,spawn.start.content.veryFirstActivity,spawn.start.content.uuid,spawn.stop.antecedenceTime,spawn.stop.content.name,spawn.stop.content.type,spawn.stop.content.timedType,...,spawn.start.content.paused,spawn.stop.content.activityID,spawn.start.content.activityID,spawn.stop.content.duration,spawn.start.content.duration,spawn.stop.content.autoStart,spawn.start.content.autoStart,dateTime,dayOfTheWeek,isWeekDay
0,1573316421846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:20:21.846,5,0.0
1,1573316481846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:21:21.846,5,0.0
2,1573316541846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:22:21.846,5,0.0
3,1573316601846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:23:21.846,5,0.0
4,1573316661846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:24:21.846,5,0.0

In [37]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [167]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [54]:
categoricalVariables = ['spawn.start.content.type']
continuousVariables = ['timeStamp', 'dayOfTheWeek', 'isWeekDay']

In [55]:
allCategories = [normalizedJson[column].unique().tolist() + ['missing_value'] for column in categoricalVariables]

In [56]:
allCategories

[['ACTIVE', 'missing_value']]

In [57]:
continuousTransformer = SimpleImputer(strategy='constant')
categoricalTransformer = Pipeline(steps=[
    ('impute', SimpleImputer(strategy='constant')),
    ('encode', OrdinalEncoder(categories=allCategories))
])

In [58]:
dataPreProcessor = ColumnTransformer(transformers=[
    ('continuous', continuousTransformer, continuousVariables),
    ('categorical', categoricalTransformer, categoricalVariables)
])

In [59]:
xDataset = normalizedJson[categoricalVariables + continuousVariables]

In [62]:
allYCategories = [normalizedJson[column].unique().tolist() + ['missing_value'] for column in ['spawn.start.content.name']]

In [79]:
allYCategories

[['RECOVERY',
  'GENERIC_ACTIVITY',
  'Construct Audio-Book',
  'Family Time',
  'Strategic Admin',
  'Meditation',
  'Overhead',
  'Coding',
  'Workout',
  'Tech Research',
  'Work',
  'ML',
  'Comp Sci',
  'Assist Others',
  'Emails',
  'missing_value']]

In [172]:
yEncoder = OrdinalEncoder(categories=allYCategories)

In [173]:
preY = normalizedJson['spawn.start.content.name']

In [174]:
yDataset = yEncoder.fit_transform(preY.to_numpy().reshape(-1, 1))

In [175]:
from sklearn.naive_bayes import GaussianNB

In [176]:
model = GaussianNB()

In [177]:
modelPipeline = Pipeline(steps=[
    ('preProcessor', dataPreProcessor),
    ('randoForestModel', model)
])

In [178]:
from sklearn.model_selection import TimeSeriesSplit

In [179]:
tsp = TimeSeriesSplit(n_splits=12)

In [180]:
for train, test, in tsp.split(xDataset, yDataset):
    modelPipeline.fit(xDataset.iloc[train], yDataset[train])
    pred = modelPipeline.predict(xDataset.iloc[test])
    loss = mean_squared_error(yDataset[test], pred)
    print(f'Test loss of {loss}')
    trainPred = modelPipeline.predict(xDataset.iloc[train])
    print(f'Train loss of {mean_squared_error(yDataset[train], trainPred)}')

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Test loss of 27.39443378119002
Train loss of 0.9618684461391802
Test loss of 37.130518234165066
Train loss of 6.624103299856528
Test loss of 31.472168905950095
Train loss of 11.207468879668049
Test loss of 54.880998080614205
Train loss of 13.809820359281437
Test loss of 53.201535508637235
Train loss of 26.187464059804487
Test loss of 56.3426103646833
Train loss of 31.28646748681898
Test loss of 47.33301343570058
Train loss of 33.55225311601151
Test loss of 71.77543186180422
Train loss of 36.0405130049143
Test loss of 71.4961612284069
Train loss of 33.510388918486946
Test loss of 9.805182341650672
Train loss of 36.400498705284356
Test loss of 18.122840690978887
Train loss of 33.9353038625861
Test loss of 57.34548944337812
Train loss of 33.29885700583487

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [181]:
xDataset.iloc[9001], preY.iloc[9001]

(spawn.start.content.type           ACTIVE
 timeStamp                   1573849216475
 dayOfTheWeek                            4
 isWeekDay                               0
 Name: 9001, dtype: object, 'Work')

In [182]:
pred = modelPipeline.predict(xDataset.iloc[[9001]])

In [183]:
pred

array([0.])