In [26]:
import pandas
import numpy

In [2]:
carDataDirectory = "./data/"
carDataCSV = f"{carDataDirectory}timeToActivity.csv"

In [3]:
carsDF = pandas.read_csv(carDataCSV,header=0,encoding = 'unicode_escape')

In [4]:
carsDF.head()

,Unnamed: 0,isWeekDay,hourOfTheDay,minuteOfTheHour,dayOfTheWeek,activity
0,0,False,16,20,5,0.0
1,1,False,16,21,5,0.0
2,2,False,16,22,5,0.0
3,3,False,16,23,5,0.0
4,4,False,16,24,5,0.0

In [5]:
len(carsDF) / 1028

13.183852140077821

In [6]:
categoricalVariables = ['isWeekDay']
continuousVariables = ['hourOfTheDay', 'minuteOfTheHour', 'dayOfTheWeek']

In [7]:
# Categorical to dictionary
# datframe to tensor
# ???
# Profit!!

In [8]:
categoricalDF = carsDF[categoricalVariables].fillna('').astype(str)
categoricalDF.head()

  isWeekDay
0     False
1     False
2     False
3     False
4     False

In [9]:
continuousDF = carsDF[continuousVariables].fillna(-1)
continuousDF.head()

   hourOfTheDay  minuteOfTheHour  dayOfTheWeek
0            16               20             5
1            16               21             5
2            16               22             5
3            16               23             5
4            16               24             5

In [10]:
from functools import reduce

In [11]:
categoricalVariableDictionary = {}
for categoricalVariable in categoricalVariables:
    vocab = categoricalDF[categoricalVariable].str.lower().unique()
    def _toDictionary(dictionary, vocabItem):
        index, vocabToken = vocabItem
        dictionary[vocabToken] = index
        return dictionary
    categoricalVariableDictionary[categoricalVariable] = reduce(_toDictionary, enumerate(vocab), {})

In [12]:
for key, dick in categoricalVariableDictionary.items():
    print("{}: has this many: {}".format(key.upper(), len(dick.items())))

ISWEEKDAY: has this many: 2

In [13]:
for categoricalVar, dictionaryDude in categoricalVariableDictionary.items():
    categoricalDF[categoricalVar] = categoricalDF[categoricalVar].apply(lambda item: dictionaryDude[item.lower()])

In [14]:
categoricalDF.head(-2)

       isWeekDay
0              0
1              0
2              0
3              0
4              0
...          ...
13546          1
13547          1
13548          1
13549          1
13550          1

[13551 rows x 1 columns]

In [15]:
continuousDF.head(-2)

       hourOfTheDay  minuteOfTheHour  dayOfTheWeek
0                16               20             5
1                16               21             5
2                16               22             5
3                16               23             5
4                16               24             5
...             ...              ...           ...
13546            23                6             0
13547            23                7             0
13548            23                8             0
13549            23                9             0
13550            23               10             0

[13551 rows x 3 columns]

In [16]:
xDataSet = categoricalDF.join(continuousDF, how='outer')

In [17]:
xDataSet.head()

   isWeekDay  hourOfTheDay  minuteOfTheHour  dayOfTheWeek
0          0            16               20             5
1          0            16               21             5
2          0            16               22             5
3          0            16               23             5
4          0            16               24             5

In [18]:
yDataSet = carsDF['activity']

In [19]:
yDataSet.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: activity, dtype: float64

In [23]:
yDataSet.to_csv('./data/activity_labels.csv')

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

In [24]:
xDataSet.to_csv('./data/activities_x_data.csv')

In [25]:
!ls -la

total 584
drwxrwxr-x 7 alex alex   4096 Nov 19 18:45 .
drwxr-xr-x 6 alex alex   4096 Nov 18 05:13 ..
-rw-r--r-- 1 alex alex 198098 Nov 19 18:45 activities_x_data.csv
-rw-r--r-- 1 alex alex 127596 Nov 19 18:45 activity_labels.csv
-rw-r--r-- 1 alex alex  57216 Nov 19 17:44 bayes.ipynb
drwxrwxr-x 2 alex alex   4096 Nov 15 18:39 build
drwxrwxr-x 2 alex alex   4096 Nov 19 18:45 data
-rw-r--r-- 1 alex alex  23566 Nov 19 18:45 data_processor.ipynb
-rw-r--r-- 1 alex alex  61558 Nov 19 18:40 howdyNeighborino.ipynb
drwxr-xr-x 2 alex alex   4096 Nov 19 18:30 .ipynb_checkpoints
drwxrwxr-x 6 alex alex   4096 Nov 15 18:54 node_modules
-rw-rw-r-- 1 alex alex     95 Nov 15 18:41 nodemon.json
-rw-rw-r-- 1 alex alex    302 Nov 15 18:54 package.json
-rw-r--r-- 1 alex alex  68031 Nov 19 18:12 randoForest.ipynb
drwxrwxr-x 2 alex alex   4096 Nov 15 19:04 src
-rw-rw-r-- 1 alex alex   5982 Nov 15 18:36 tsconfig.json
-rw-rw-r-- 1 alex alex   1148 Nov 15 18:54 yarn.lock