In [1]:
import pandas as pd

In [2]:
dataPath = "./data/projection.json"

In [3]:
df = pd.read_json(dataPath)

In [4]:
df.head()

                timeStamp                                              spawn
0 2019-11-09 16:20:21.846  {'start': {'antecedenceTime': 1573316421846, '...
1 2019-11-09 16:21:21.846  {'start': {'antecedenceTime': 1573316421846, '...
2 2019-11-09 16:22:21.846  {'start': {'antecedenceTime': 1573316421846, '...
3 2019-11-09 16:23:21.846  {'start': {'antecedenceTime': 1573316421846, '...
4 2019-11-09 16:24:21.846  {'start': {'antecedenceTime': 1573316421846, '...

In [5]:
from pandas.io.json import json_normalize
import json

In [6]:
with open(dataPath) as dataJson:
    rawJsonData = json.load(dataJson)

In [7]:
len(rawJsonData)

13553

In [8]:
normalizedJson = json_normalize(rawJsonData)

In [9]:
normalizedJson.head()

,timeStamp,spawn.start.antecedenceTime,spawn.start.content.name,spawn.start.content.type,spawn.start.content.veryFirstActivity,spawn.start.content.uuid,spawn.stop.antecedenceTime,spawn.stop.content.name,spawn.stop.content.type,spawn.stop.content.timedType,...,spawn.start.content.timedType,spawn.start.content.workStartedWomboCombo,spawn.stop.content.paused,spawn.start.content.paused,spawn.stop.content.activityID,spawn.start.content.activityID,spawn.stop.content.duration,spawn.start.content.duration,spawn.stop.content.autoStart,spawn.start.content.autoStart
0,1573316421846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1573316481846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1573316541846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1573316601846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1573316661846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
normalizedJson['dateTime'] = pd.to_datetime(normalizedJson['timeStamp'], unit='ms')

In [11]:
normalizedJson['dayOfTheWeek'] = normalizedJson['dateTime'].dt.dayofweek

In [12]:
dateTimeSeries = normalizedJson['dateTime']

In [13]:
normalizedJson['hourOfTheDay'] = dateTimeSeries.dt.hour
normalizedJson['minuteOfTheHour'] = dateTimeSeries.dt.minute

In [14]:
normalizedJson.head()

,timeStamp,spawn.start.antecedenceTime,spawn.start.content.name,spawn.start.content.type,spawn.start.content.veryFirstActivity,spawn.start.content.uuid,spawn.stop.antecedenceTime,spawn.stop.content.name,spawn.stop.content.type,spawn.stop.content.timedType,...,spawn.stop.content.activityID,spawn.start.content.activityID,spawn.stop.content.duration,spawn.start.content.duration,spawn.stop.content.autoStart,spawn.start.content.autoStart,dateTime,dayOfTheWeek,hourOfTheDay,minuteOfTheHour
0,1573316421846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:20:21.846,5,16,20
1,1573316481846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:21:21.846,5,16,21
2,1573316541846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:22:21.846,5,16,22
3,1573316601846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:23:21.846,5,16,23
4,1573316661846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:24:21.846,5,16,24

In [15]:
len(normalizedJson)

13553

In [16]:
normalizedJson['isWeekDay'] = dateTimeSeries.dt.weekday < 5

In [17]:
normalizedJson.head()

,timeStamp,spawn.start.antecedenceTime,spawn.start.content.name,spawn.start.content.type,spawn.start.content.veryFirstActivity,spawn.start.content.uuid,spawn.stop.antecedenceTime,spawn.stop.content.name,spawn.stop.content.type,spawn.stop.content.timedType,...,spawn.start.content.activityID,spawn.stop.content.duration,spawn.start.content.duration,spawn.stop.content.autoStart,spawn.start.content.autoStart,dateTime,dayOfTheWeek,hourOfTheDay,minuteOfTheHour,isWeekDay
0,1573316421846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:20:21.846,5,16,20,False
1,1573316481846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:21:21.846,5,16,21,False
2,1573316541846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:22:21.846,5,16,22,False
3,1573316601846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:23:21.846,5,16,23,False
4,1573316661846,1573316421846,RECOVERY,ACTIVE,True,7b1cfbdf-32e2-40f9-a44e-31fc32581bc2,1573321480328,GENERIC_ACTIVITY,ACTIVE,STOP_WATCH,...,NaN,NaN,NaN,NaN,NaN,2019-11-09 16:24:21.846,5,16,24,False

In [18]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [19]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [20]:
categoricalVariables = ['isWeekDay']
continuousVariables = ['hourOfTheDay', 'minuteOfTheHour', 'dayOfTheWeek']

In [21]:
allCategories = [normalizedJson[column].unique().tolist() + ['missing_value'] for column in categoricalVariables]

In [22]:
allCategories

[[False, True, 'missing_value']]

In [23]:
continuousTransformer = SimpleImputer(strategy='constant')
categoricalTransformer = Pipeline(steps=[
#     ('impute', SimpleImputer(strategy='constant')),
    ('encode', OrdinalEncoder(categories=allCategories))
])

In [24]:
dataPreProcessor = ColumnTransformer(transformers=[
    ('continuous', continuousTransformer, continuousVariables),
    ('categorical', categoricalTransformer, categoricalVariables)
])

In [25]:
xDataset = normalizedJson[categoricalVariables + continuousVariables]

In [107]:
xDataset.head()

   isWeekDay  hourOfTheDay  minuteOfTheHour  dayOfTheWeek
0      False            16               20             5
1      False            16               21             5
2      False            16               22             5
3      False            16               23             5
4      False            16               24             5

In [108]:
xDataset.describe()

       hourOfTheDay  minuteOfTheHour  dayOfTheWeek
count  13553.000000     13553.000000  13553.000000
mean      11.768981        29.495979      3.081606
std        6.957588        17.332343      2.248634
min        0.000000         0.000000      0.000000
25%        6.000000        14.000000      1.000000
50%       12.000000        29.000000      3.000000
75%       18.000000        45.000000      5.000000
max       23.000000        59.000000      6.000000

In [111]:
yDF = pd.DataFrame(yDataset, columns=['activity'])

In [112]:
xDataset.join(yDF, how='outer').to_csv('./data/timeToActivity.csv')

In [28]:
allYCategories = [normalizedJson[column].unique().tolist() + ['missing_value'] for column in ['spawn.start.content.name']]

In [29]:
allYCategories

[['RECOVERY',
  'GENERIC_ACTIVITY',
  'Construct Audio-Book',
  'Family Time',
  'Strategic Admin',
  'Meditation',
  'Overhead',
  'Coding',
  'Workout',
  'Tech Research',
  'Work',
  'ML',
  'Comp Sci',
  'Assist Others',
  'Emails',
  'missing_value']]

In [30]:
yEncoder = OrdinalEncoder(categories=allYCategories)

In [31]:
preY = normalizedJson['spawn.start.content.name']

In [32]:
yDataset = yEncoder.fit_transform(preY.to_numpy().reshape(-1, 1))

In [89]:
from sklearn.neighbors import KNeighborsClassifier

model = KNeighborsClassifier(n_neighbors=8)

In [90]:
modelPipeline = Pipeline(steps=[
    ('preProcessor', dataPreProcessor),
    ('randoForestModel', model)
])

In [91]:
from sklearn.model_selection import cross_validate

In [92]:
learntStuff = cross_validate(modelPipeline,
                             xDataset,
                             yDataset,
                             cv=8,
                             return_estimator=True,
                                n_jobs=-1,
                             scoring='accuracy')

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=8.
  % (min_groups, self.n_splits)), Warning)

In [93]:
from sklearn.model_selection import cross_val_score

In [94]:
learntModel = learntStuff['estimator'][0]

In [95]:
losses = 1 * cross_val_score(learntModel,
                             xDataset,
                             yDataset,
                             cv=8,
                             n_jobs=-1,
                             scoring='accuracy')

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/model_selection/_split.py:657: Warning: The least populated class in y has only 2 members, which is too few. The minimum number of members in any class cannot be less than n_splits=8.
  % (min_groups, self.n_splits)), Warning)

In [96]:
losses

array([0.63176471, 0.61411765, 0.65055981, 0.74218289, 0.6824085 ,
       0.644589  , 0.63668639, 0.57354686])

# Time Series Split

In [97]:
from sklearn.model_selection import TimeSeriesSplit

In [98]:
tsp = TimeSeriesSplit(n_splits=12)

In [99]:
for train, test, in tsp.split(xDataset, yDataset):
    modelPipeline.fit(xDataset.iloc[train], yDataset[train])
    pred = modelPipeline.predict(xDataset.iloc[test])
    loss = mean_squared_error(yDataset[test], pred)
    print(f'Test loss of {loss}')
    trainPred = modelPipeline.predict(xDataset.iloc[train])
    print(f'Train loss of {mean_squared_error(yDataset[train], trainPred)}')

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/pipeline.py:356: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params)
/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/pipeline.py:356: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params)
/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/pipeline.py:356: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params)

Test loss of 20.120921305182343
Train loss of 0.4966634890371783
Test loss of 39.743761996161226
Train loss of 3.8871353419416548
Test loss of 13.826295585412668
Train loss of 3.773060963932333
Test loss of 16.888675623800385
Train loss of 4.9892215568862275
Test loss of 15.543186180422264

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/pipeline.py:356: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params)
/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/pipeline.py:356: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params)

Train loss of 5.812152578110025
Test loss of 8.885796545105567
Train loss of 4.972998881610481

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/pipeline.py:356: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params)
/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/pipeline.py:356: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params)

Test loss of 6.3310940499040305
Train loss of 5.055745788248185

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/pipeline.py:356: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params)

Test loss of 18.71017274472169
Train loss of 5.011626513244636
Test loss of 9.047024952015356

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/pipeline.py:356: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params)

Train loss of 4.94746936600959
Test loss of 3.605566218809981

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/pipeline.py:356: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params)

Train loss of 5.067133403663566
Test loss of 18.66506717850288

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/pipeline.py:356: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params)

Train loss of 4.684104978638068
Test loss of 7.070057581573896

/home/alex/miniconda3/envs/swift-env/lib/python3.6/site-packages/sklearn/pipeline.py:356: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params)

Train loss of 5.736072256414356

# Testing it out

In [100]:
xDataset.iloc[9001], preY.iloc[9001]

(isWeekDay          True
 hourOfTheDay         20
 minuteOfTheHour      20
 dayOfTheWeek          4
 Name: 9001, dtype: object, 'Work')

In [101]:
pred = learntModel.predict(xDataset.iloc[[9001]])

In [102]:
yEncoder.inverse_transform(pred.reshape(1,-1))

array([['Work']], dtype=object)

In [103]:
testData = [[19.0, 30.0, 3.0, False]]
testDF = pd.DataFrame(testData, columns=['hourOfTheDay', 'minuteOfTheHour', 'dayOfTheWeek', 'isWeekDay'])

In [104]:
testDF

   hourOfTheDay  minuteOfTheHour  dayOfTheWeek  isWeekDay
0          19.0             30.0           3.0      False

In [105]:
testPred = learntModel.predict(testDF)

In [106]:
yEncoder.inverse_transform(testPred.reshape(1,-1))

array([['Work']], dtype=object)